---
services:
# filebrowser
  filebrowser:
    restart: unless-stopped
    networks:
      - traefik
    volumes:
      - /var/srv:/srv
      - /var/srv/filebrowser/filebrowser.db:/database/filebrowser.db
      - /var/srv/filebrowser/settings.json:/config/settings.json
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - 127.0.0.1:8080:80
    image: filebrowser/filebrowser:s6
    labels:
      - traefik.enable=true
      - traefik.http.routers.filebrowser.entrypoints=web
      - traefik.http.routers.filebrowser.rule=HostRegexp(`^filebrowser\\.${TRAEFIK_HOSTNAME}(?:\\..*)*$$`)
      - traefik.http.services.filebrowser.loadbalancer.server.port=80

# plex
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=latest
    restart: unless-stopped
  plex-upnp-service:
    image: ghcr.io/projectinitiative/upnp-service:latest
    network_mode: "host"
    #container_name: upnp-service
    restart: unless-stopped
    configs:
      - source: upnp
        target: /etc/upnp-service/upnp.json

# Arr stack
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /path/to/prowlarr/data:/config
    ports:
      - 9696:9696
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /path/to/radarr/data:/config
      - /path/to/movies:/movies #optional
      - /path/to/download-client-downloads:/downloads #optional
    ports:
      - 7878:7878
    restart: unless-stopped
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /path/to/sonarr/data:/config
      - /path/to/tvseries:/tv #optional
      - /path/to/downloadclient-downloads:/downloads #optional
    ports:
      - 8989:8989
    restart: unless-stopped

# qbittorrent
  qbittorrent:
      image: lscr.io/linuxserver/qbittorrent:latest
      container_name: qbittorrent
      environment:
        - PUID=1000
        - PGID=1000
        - TZ=America/New_York
        - WEBUI_PORT=8112
        - TORRENTING_PORT=51412
      volumes:
        - /var/srv/apps/qbittorrent/appdata:/config
        - /var/srv/media/downloads:/downloads #optional
      network_mode: host
      restart: unless-stopped

configs:
  upnp:
    # /etc/upnp-service/upnp.json
    content: |
      {
          "apps":
          [
              {
                  "app_name": "plex",
                  "redirections": [
                      ["32400", "TCP"],
                      ["32400", "UDP"]
                  ]
              }
        ]
      }