---
services:
# filebrowser
  filebrowser:
    restart: unless-stopped
    volumes:
      - /var/srv:/srv
      - /var/srv/filebrowser/filebrowser.db:/database/filebrowser.db
      - /var/srv/filebrowser/.filebrowser.json:/.filebrowser.json
    user: 1000:1000
    ports:
      - 127.0.0.1:8080:80
    image: ghcr.io/gtsteffaniak/filebrowser

# jellyfin
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - JELLYFIN_PublishedServerUrl=http://192.168.0.5 #optional
    volumes:
      - /path/to/jellyfin/library:/config
      - /path/to/tvseries:/data/tvshows
      - /path/to/movies:/data/movies
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    restart: unless-stopped

# plex
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=latest
    restart: unless-stopped
  plex-upnp-service:
    image: ghcr.io/projectinitiative/upnp-service:latest
    network_mode: "host"
    #container_name: upnp-service
    restart: unless-stopped
    configs:
      - source: upnp
        target: /etc/upnp-service/upnp.json

# Arr stack
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /path/to/prowlarr/data:/config
    ports:
      - 9696:9696
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /path/to/radarr/data:/config
      - /path/to/movies:/movies #optional
      - /path/to/download-client-downloads:/downloads #optional
    ports:
      - 7878:7878
    restart: unless-stopped
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /path/to/sonarr/data:/config
      - /path/to/tvseries:/tv #optional
      - /path/to/downloadclient-downloads:/downloads #optional
    ports:
      - 8989:8989
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /path/to/lidarr/data:/config
      - /path/to/music:/music #optional
      - /path/to/downloadclient-downloads:/downloads #optional
    ports:
      - 8686:8686
    restart: unless-stopped

# qbittorrent
  qbittorrent:
      image: lscr.io/linuxserver/qbittorrent:5.1.0
      container_name: qbittorrent
      environment:
        - PUID=1000
        - PGID=1000
        - TZ=America/New_York
        - WEBUI_PORT=8112
        - TORRENTING_PORT=51412
      volumes:
        - /var/srv/apps/qbittorrent/appdata:/config
        - /var/srv/media/downloads:/downloads #optional
      network_mode: host
      restart: unless-stopped

# tautulli
  tautulli:
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /path/to/tautulli/config:/config
    ports:
      - 8181:8181
    restart: unless-stopped

  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    container_name: syncthing
    hostname: syncthing #optional
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /path/to/syncthing/config:/config
      - /path/to/data1:/data1
      - /path/to/data2:/data2
    ports:
      - 8384:8384
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    restart: unless-stopped


  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=Asia/Tashkent
      - PORT=5055 #optional
    ports:
      - 5055:5055
    volumes:
      - /path/to/appdata/config:/app/config
    restart: unless-stopped


configs:
  upnp:
    # /etc/upnp-service/upnp.json
    content: |
      {
          "apps":
          [
              {
                  "app_name": "plex",
                  "redirections": [
                      ["32400", "TCP"],
                      ["32400", "UDP"]
                  ]
              },
              {
                  "app_name": "syncthing",
                  "redirections": [
                      ["22000", "UDP"],
                      ["22000", "TCP"],
                      ["21027", "UDP"]
                  ]
              },
              {
                  "app_name": "jellyfin",
                  "redirections": [
                      ["8096", "TCP"],
                      ["8920", "TCP"],
                      ["7359", "UDP"],
                      ["1900", "UDP"]
                  ]
              }
        ]
      }
