name: radarr-deploy
services:
  filebrowser:
    environment:
      PGID: "1000"
      PUID: "1000"
    image: filebrowser/filebrowser:s6
    labels:
      traefik.enable: "true"
      traefik.http.routers.filebrowser.entrypoints: web
      traefik.http.routers.filebrowser.rule: HostRegexp(`^filebrowser\\.mediaboxlite(?:\\..*)*$$`)
      traefik.http.services.filebrowser.loadbalancer.server.port: "80"
    networks:
      traefik: null
    ports:
      - mode: ingress
        host_ip: 127.0.0.1
        target: 80
        published: "8080"
        protocol: tcp
    volumes:
      - type: bind
        source: /var/srv
        target: /srv
        bind:
          create_host_path: true
      - type: bind
        source: /var/srv/filebrowser/filebrowser.db
        target: /database/filebrowser.db
        bind:
          create_host_path: true
      - type: bind
        source: /var/srv/filebrowser/settings.json
        target: /config/settings.json
        bind:
          create_host_path: true
  plex:
    container_name: plex
    environment:
      PGID: "1000"
      PLEX_CLAIM: claim-SVpPkwxUCMrdqrr-zSM2
      PUID: "1000"
      TZ: America/New_York
      VERSION: latest
    image: lscr.io/linuxserver/plex:latest
    labels:
      traefik.enable: "true"
      traefik.http.routers.plex.rule: HostRegexp(`^plex\\.mediaboxlite(?:\\..*)*$$`)
      traefik.http.services.plex.loadbalancer.server.port: "32400"
    network_mode: host
    restart: unless-stopped
    volumes:
      - type: bind
        source: /var/srv/apps/plex/data
        target: /config
        bind:
          create_host_path: true
      - type: bind
        source: /var/srv/media/tv
        target: /tv
        bind: {}
      - type: bind
        source: /var/srv/media/movies
        target: /movies
        bind: {}
  prowlarr:
    container_name: prowlarr
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: America/New_York
    image: lscr.io/linuxserver/prowlarr:latest
    labels:
      traefik.docker.network: traefik
      traefik.enable: "true"
      traefik.http.routers.prowlarr.rule: HostRegexp(`^prowlarr\.mediaboxlite(?:\..*)*$$`)
      traefik.http.services.prowlarr.loadbalancer.server.port: "9696"
    networks:
      default: null
      traefik: null
    ports:
      - mode: ingress
        target: 9696
        published: "9696"
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: /var/srv/apps/prowlarr/data
        target: /config
        bind:
          create_host_path: true
  qbittorrent:
    container_name: qbittorrent
    environment:
      PGID: "1000"
      PUID: "1000"
      TORRENTING_PORT: "51412"
      TZ: America/New_York
      WEBUI_PORT: "8112"
    image: lscr.io/linuxserver/qbittorrent:latest
    labels:
      traefik.enable: "true"
      traefik.http.routers.qbittorrent.entrypoints: web
      traefik.http.routers.qbittorrent.rule: HostRegexp(`^qbittorrent\..*$$`)
      traefik.http.services.qbittorrent.loadbalancer.server.port: "8112"
    network_mode: host
    restart: unless-stopped
    volumes:
      - type: bind
        source: /var/srv/apps/qbittorrent/appdata
        target: /config
        bind:
          create_host_path: true
      - type: bind
        source: /var/srv/media/downloads
        target: /downloads
        bind:
          create_host_path: true
  radarr:
    container_name: radarr
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: America/New_York
    image: lscr.io/linuxserver/radarr:latest
    labels:
      traefik.docker.network: traefik
      traefik.enable: "true"
      traefik.http.routers.radarr.rule: HostRegexp(`^radarr\.mediaboxlite(?:\..*)*$$`)
      traefik.http.services.radarr.loadbalancer.server.port: "7878"
    networks:
      default: null
      traefik: null
    ports:
      - mode: ingress
        target: 7878
        published: "7878"
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: /var/srv/apps/radarr/data
        target: /config
        bind:
          create_host_path: true
      - type: bind
        source: /var/srv/media/content/movies
        target: /movies
        bind: {}
      - type: bind
        source: /var/srv/media/downloads
        target: /downloads
        bind: {}
  sonarr:
    container_name: sonarr
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: America/New_York
    image: lscr.io/linuxserver/sonarr:latest
    labels:
      traefik.docker.network: traefik
      traefik.enable: "true"
      traefik.http.routers.sonarr.rule: HostRegexp(`^sonarr\.mediaboxlite(?:\..*)*$$`)
      traefik.http.services.sonarr.loadbalancer.server.port: "8989"
    networks:
      default: null
      traefik: null
    ports:
      - mode: ingress
        target: 8989
        published: "8989"
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: /var/srv/apps/sonarr/data
        target: /config
        bind:
          create_host_path: true
      - type: bind
        source: /var/srv/media/content/tv
        target: /tv
        bind: {}
      - type: bind
        source: /var/srv/media/downloads
        target: /downloads
        bind: {}
networks:
  default:
    name: arr
  traefik:
    name: traefik
    external: true
