[[stack]]
name = "arr"
tags = ["media", "arr"]
[stack.config]
server = "localhost"
links = [
  "https://filebrowser.mediaboxlite.ibeep.com",
  "https://plex.mediaboxlite.ibeep.com",
  "https://jellyfin.mediaboxlite.ibeep.com",
  "https://tautulli.mediaboxlite.ibeep.com",
  "https://radarr.mediaboxlite.ibeep.com",
  "https://prowlarr.mediaboxlite.ibeep.com",
  "https://sonarr.mediaboxlite.ibeep.com"
]
poll_for_updates = true
auto_update = true
git_account = "b-"
repo = "b-/radarr-deploy"
reclone = true
file_paths = [
  "compose.yaml",
  "compose.override.yaml"
]
env_file_path = "compose.env"

##

[[resource_sync]]
name = "arr"
tags = ["arr", "sync"]
[resource_sync.config]
repo = "b-/radarr-deploy"
git_account = "b-"
resource_path = ["stack.toml"]
managed = true
match_tags = ["arr"]