[[stack]]
name = "mediaboxlite-arr"
tags = [
  "mediaboxlite",
  "mediaboxlite-arr",
  "arr"
]
[stack.config]
server = "mediaboxlite"
links = [
  "https://filebrowser.mediaboxlite.ibeep.com",
  "https://plex.mediaboxlite.ibeep.com",
  "https://jellyfin.mediaboxlite.ibeep.com",
  "https://tautulli.mediaboxlite.ibeep.com",
  "https://radarr.mediaboxlite.ibeep.com",
  "https://prowlarr.mediaboxlite.ibeep.com",
  "https://sonarr.mediaboxlite.ibeep.com",
  "https://qbittorrent.mediaboxlite.ibeep.com"
]
poll_for_updates = true
auto_update = true
auto_update_all_services = true
destroy_before_deploy = true
linked_repo = "arr"
file_paths = [
  "compose.yaml",
  "compose.override.yaml"
]
env_file_path = "compose.env"
extra_args = ["--remove-orphans"]
environment = """
TRAEFIK_DOCKER_NETWORK=traefik
TZ=America/New_York
TIMEZONE=America/New_York
SONARR_API_KEY=[[OP__KOMODO__SONARR_API_KEY__CREDENTIAL]]
TRAEFIK_RULE_PREFIX=[[OP__KOMODO__TRAEFIK__RULE_PREFIX]]
TRAEFIK_RULE_SUFFIX=[[OP__KOMODO__TRAEFIK__RULE_SUFFIX]]
TS_AUTHKEY=[[OP__KOMODO__TAILSCALE_OP__CLIENT_SECRET]]?ephemeral=true
FILEBROWSER_PASSWORD_HASH=[[OP__KOMODO__FILEBROWSER_PASSWORD__BCRYPT]]
FILEBROWSER_PASSWORD=[[OP__KOMODO__FILEBROWSER_PASSWORD__PASSWORD]]
bri_password=[[OP__KOMODO__SMB_BRI__PASSWORD]]
"""

##

[[resource_sync]]
name = "mediaboxlite-arr"
tags = [
  "mediaboxlite",
  "mediaboxlite-arr",
  "arr",
  "sync"
]
[resource_sync.config]
linked_repo = "arr"
resource_path = ["stack.toml"]
managed = true
match_tags = ["mediaboxlite-arr"]