[[stack]]
name = "radarr"
tags = ["media", "radarr", "arr"]
[stack.config]
server = "localhost"
links = [
  "https://radarr.mediaboxlite.ibeep.com"
]
poll_for_updates = true
auto_update = true
git_account = "b-"
repo = "b-/mediaboxlite-radarr"
reclone = true
file_paths = [
  "compose.yaml",
  "compose.override.yaml"
]
env_file_path = "compose.env"

##

[[resource_sync]]
name = "radarr"
tags = ["radarr", "arr", "sync"]
[resource_sync.config]
repo = "b-/radarr-deploy"
git_account = "b-"
resource_path = ["stack.toml"]
managed = true
match_tags = ["radarr"]