[[stack]]
name = "mediaboxlite-arr"
tags = ["mediaboxlite", "mediaboxlite-arr", "arr"]
[stack.config]
server = "mediaboxlite"
links = [
  "https://filebrowser.mediaboxlite.ibeep.com",
  "https://plex.mediaboxlite.ibeep.com",
  "https://jellyfin.mediaboxlite.ibeep.com",
  "https://tautulli.mediaboxlite.ibeep.com",
  "https://radarr.mediaboxlite.ibeep.com",
  "https://prowlarr.mediaboxlite.ibeep.com",
  "https://sonarr.mediaboxlite.ibeep.com",
  "https://qbittorrent.mediaboxlite.ibeep.com"
]
poll_for_updates = true
auto_update = true
git_account = "b-"
repo = "b-/arr-deploy"
reclone = true
file_paths = [
  "compose.yaml",
  "compose.override.yaml"
]
env_file_path = "compose.env"
pre_deploy.command = """
  # Add multiple commands on new lines. Supports comments.
  docker pull docker.io/1password/op:2
  docker run -e OP_SERVICE_ACCOUNT_TOKEN=[[OP_SERVICE_ACCOUNT_TOKEN]] --rm -v .:/work:z docker.io/1password/op:2 op inject -i /work/compose.env > compose.env.tmp
  mv compose.env.tmp compose.env
"""

##

[[resource_sync]]
name = "mediaboxlite-arr"
tags = ["mediaboxlite", "mediaboxlite-arr", "arr", "sync"]
[resource_sync.config]
repo = "b-/radarr-deploy"
git_account = "b-"
resource_path = ["stack.toml"]
managed = true
match_tags = ["mediaboxlite-arr"]
